body {
    font-family: Tahoma, sans-serif;
    background-image: url(../img/5.jpg);
    background-position: left;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    margin-top: 50px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
    margin-top: 10px;
}

.form1 {
    margin: auto;
    width: 450px;
    border: 3px solid #48D1CC;
    background-color: white;
}

.head_profile {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.input {
    padding: 15px 20px 0px;
    text-align: left;
    font-weight: 700;
    font-size: 10pt;
}

.text_inside {
    font-weight: normal;
}

.button {
    margin: 15px auto;
    background-color: #FFA500;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center {
    text-align: center;
}

.main_menu li {
    list-style: none;
    margin: 0;
    display: inline;
    background-color: #48D1CC;
    padding: 10px;
}

.main_menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.block {
    display: inline-block;
    width: 300px;
    margin: 50px 50px;
    background-color: white;
}

.color_autor {
    color: tomato;
}

.button_story {
    margin-top: 0px;
    margin-bottom: 40px;
    background-color: tomato;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}

.href_story {
    color: white;
    text-decoration: none;
}

.img_story {
    width: 500px;
}

.sub {
    display: none;
}

li:hover > .sub {
    display: block;    
}

.main_menu_new {
    display: inline-block;
}

.main_menu_new li {
    list-style: none;
    margin: 0;
    background-color: #48D1CC;
    padding: 10px;
}

.main_menu_new a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.fixed {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.size {
    height: 50px;
    width: 50px;
}

.form {
    margin: auto;
    display: none;
    width: 450px;
    border: 3px solid #48D1CC;
    background-color: white;
}

.form:target {
	display:block;
	position:absolute;
	top: 300px;
	left: 200px;
	bottom: 300px;
	right: 200px;
}

.input_new {
    margin: 30px 0;
    text-align: center;
    font-weight: 700;
    font-size: 10pt;
}

.button_new {
    background-color: #48D1CC;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}